*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    font-family: 'Lato', arial;
}
header{
    background: white;
    height: 100px;
}
header img{
    width: 70px;
    height: 70px;
    margin: 15px;
}
h1{
    font-family: 'Lato', arial;
    display: inline-block;
    font-size: 3rem;
    position: relative;
    bottom: 26px;
}
